body {
    background-image: url('BG.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; 
    padding: 0; 
    height: 100vh;
    min-height: 100vh;
}

body, .homebox, .right-text, .homebox h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.homebox {
    padding: 10px; 
    background: #b490f7;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.right-text {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    color: #fff; 
    font-size: 20px;
    justify-content: center;
    margin-right: 20px;
}

.right-text p {
    margin: 10px 0; 
}
.homebox h1 {
    font-size: 70px; 
    color: #fff; 
    text-align: center; 
    margin-top: 45px; 
    margin-right: 60px;
}
.right-text p:hover {
    text-decoration: underline; 
    color: #4c0ccc
}

.logo {
    width: 100px; 
    margin-right: 50px; 
}
.content {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.image-container {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    padding-top: 170px;
    width: 50%;
}

.image {
    width: 50%; 
    padding-top: 170px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.box1, .box2 {
    flex: 1;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    background: #f1f1f1;
    text-align: right; 
}

.boxes {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.box2 p{
    text-align: justify;
    font-size: 20px;
}

.box1 p{
    text-align: center;
    font-size: 36px;
}